body {
  background-color: #141414;
}

h1 {
  font-size: 80px;
}
.my-p {
  color: #b6beb8;
  font-size: 30px;
}

.secnd-but {
  width: 190px;
  height: 40px;
  text-align: left;
  font-size: 20px;
  color: white;
}

.third-but {
  width: 90px;
  height: 35px;
}

.first-b {
  width: 100px;
  height: 40px;
}

.sec-but {
  width: 140px;
  height: 40px;
}

.third-b {
  width: 250px;
  height: 40px;
}
